<div class="header py-7 py-lg-8">
  <div class="py-4"></div>
  <!-- Message -->
  <div class="container my-5">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <h1>You haven't created your own CV yet :(</h1>
          <h1>Create it NOW!!!!</h1>
          <div class="py-3"></div>
          <button class="btn main-create-btn" onclick="location.href='/create';">Start Creating</button>
          <div class="py-3"></div>
          <img src="/images/develop_main_pic2.svg" style="width: 90%; height: 50%;" />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  ////////for showing toolbar
  function showUserToolbar() {
    var toolbar = document.getElementById('userToolbar');
    if (toolbar.style.display == '') {
      toolbar.style.display = 'none';
    } else {
      toolbar.style.display = ''
    }
  };
  ////////
</script>