<!-- confirm publish Modal-->
<div class="animate__animated animate__fadeIn center" style='z-index: 1; display: none' id="publishModal" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm to pass this step?
                </h5>
            </div>
            <div class="modal-body">
                Are you sure you want to pass this step? You CV will then be published as a link after you pass this step.
                <br>
            </div>
            <div class="modal-footer">
                <button id="alert-delete" class="btn btn-secondary" type="button" onclick="showPublishModal()"
                    data-dismiss="modal">Cancel</button>
                <button id="alert-delete" class="btn pink-btn" type="button" onclick="showPublishModal()"
                    data-dismiss="modal">Publish</button>
            </div>
        </div>
    </div>
</div>
<!-- End of confirm publish Modal -->


<div id="content">
    <!-- progress bar -->
    <div class="py-4"></div>
    <ul class="progressbar">
        <li class="active">Inputting Data</li>
        <li class="active">Choosing Theme</li>
        <li class="active">Customizing your CV</li>
        <li>Making your CV into 3D</li>
    </ul>
    <div class="py-3"></div>
    <!-- End of progress bar -->


    <!-- Message -->
    <div class="container my-5">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">


                <div class="col-lg-12 col-sm-12">
                    <h1 style="color: #a570a7">Step 4 - 💻 Making a 3D CV 💻 </h1>
                    <div class="py-3"></div>
                    <h2>Now, let's making your CV into a 3D version!</h2>
                    <br>
                    <button class="btn main-create-btn" onclick="location.href='/customize';">Start Creating</button>
                    <button class="btn main-create-btn2 ml-xl" onclick="showPublishModal()">Pass This Step</button>
                    <div class="py-4"></div>
                </div>


                <!-- <div class="col-lg-4 col-sm-12 card">
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="width:25%; height:25%; color:#a570a7"
                    fill="currentColor" class="bi bi-fonts ml-xl" viewBox="0 0 16 16">
                    <path
                        d="M12.258 3H3.747l-.082 2.46h.478c.26-1.544.76-1.783 2.694-1.845l.424-.013v7.827c0 .663-.144.82-1.3.923v.52h4.082v-.52c-1.162-.103-1.306-.26-1.306-.923V3.602l.43.013c1.935.062 2.434.301 2.694 1.846h.479L12.258 3z" />
                </svg>
                <br>
                <span class="text-center">You can change the style of the texts in your CV in this step.</span>
            </div>

            <div class="col-lg-4 col-sm-12 card">
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="width:25%; height:25%; color:#a570a7;" fill="currentColor"
                    class="bi bi-plus-square ml-xl" viewBox="0 0 16 16">
                    <path
                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                <br>
                <span class="text-center">You can add new textfields or pages or upload images or documents in this step.</span>
            </div>

            <div class="col-lg-4 col-sm-12 card">
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="width:25%; height:25%; color:#a570a7;"
                    fill="currentColor" class="bi bi-dash-square ml-xl" viewBox="0 0 16 16">
                    <path
                        d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                </svg>
                <br>
                <span class="text-center">You can delete any things you want in your CV in this step.</span>
            </div>
            <div class="col-lg-4 col-sm-12 card">
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="width:25%; height:25%; color:#a570a7;" fill="currentColor"
                    class="bi bi-textarea-resize ml-xl" viewBox="0 0 16 16">
                    <path
                        d="M.5 4A2.5 2.5 0 0 1 3 1.5h12A2.5 2.5 0 0 1 17.5 4v8a2.5 2.5 0 0 1-2.5 2.5H3A2.5 2.5 0 0 1 .5 12V4zM3 2.5A1.5 1.5 0 0 0 1.5 4v8A1.5 1.5 0 0 0 3 13.5h12a1.5 1.5 0 0 0 1.5-1.5V4A1.5 1.5 0 0 0 15 2.5H3zm11.854 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708l3-3a.5.5 0 0 1 .708 0zm0 2.5a.5.5 0 0 1 0 .708l-.5.5a.5.5 0 0 1-.708-.708l.5-.5a.5.5 0 0 1 .708 0z" />
                </svg>
                <br>
                <span class="text-center">You can resize all the elements in your CV in this step.</span>
            </div>

            <div class="col-lg-4 col-sm-12 card">
                <br>
                <svg xmlns="http://www.w3.org/2000/svg" style="width:25%; height:25%; color:#a570a7;"
                    fill="currentColor" class="bi bi-arrows-move ml-xl" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z" />
                </svg>
                <br>
                <span class="text-center">You can move the elements to change their current positions in this step.</span>
            </div> -->

            </div>
        </div>
    </div>
</div>

<script>
    ///////for showing publish alert
    function showPublishModal() {
        var submitAlert = document.getElementById('publishModal');
        var content = document.getElementById("content");
        var topbar = document.getElementById("topbar");
        if (submitAlert.style.display == '') {
            submitAlert.style.display = 'none';
            content.style.opacity = '';
            topbar.style.opacity = '';
        } else {
            submitAlert.style.display = ''
            content.style.opacity = '.4';
            topbar.style.opacity = '.4';
        }
    }
    ///////
</script>