<!-- step2 Modal-->
<div class="animate__animated animate__fadeIn center" style='z-index: 1;' id="step2Modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel" style="color: #f1869f">Step 2 - Choosing Theme
                </h4>
            </div>
            <div class="modal-body">
                In this page, you can click the "Demo For More" button to have
                a demo. You can change the color of the theme and webpage in the demo page.
                <br><br>
                You should press the "I want to choose this template" button
                in the demo page in order to go to the next step.
            </div>
            <div class="modal-footer">
                <button id="alert-delete" class="btn pink-btn" type="button" onclick="closeStep2Modal()"
                    data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>

</div>
<!-- End of step2 Modal -->

<div id="content" style="opacity: .4;">
    <!-- progress bar -->
    <div class="py-4"></div>
    <div class="justify-content-center">
        <ul class="progressbar">
            <li class="active">Inputting<br>Data</li>
            <li>Choosing<br>Theme</li>
            <li>Customizing<br>CV</li>
            <li>Making<br>3D CV</li>
        </ul>
    </div>
    <div class="py-3"></div>
    <!-- End of progress bar -->


    <!-- content -->
    <div class="container my-4">
        <div class="text-center">
            <div class="row justify-content-center">
                <!-- title -->
                <div class="col-lg-12 col-sm-12">
                    <h1 style="color: #a570a7">Step 2 - 🎨 Choosing Theme 🎨</h1>
                    <div class="py-3"></div>
                    <h2>Let's choose one of the template you like below!</h2>
                    <div class="py-2"></div>
                </div>
                <!-- End of title -->

                <!-- pic & demo btn for template 1 -->
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="py-3"></div>
                    <h5 style="color: #a570a7;">Template 1 </h5>
                    <img class="rounded-xl template" src='/images/template1.png'>
                    <div class="py-2"></div>
                    <button class="btn main-create-btn" onclick="window.open('/template1');"
                        style="width: 200px; height: 50px;">Demo For More</button>
                </div>

                <!-- pic & demo btn for template 2 -->
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="py-3"></div>
                    <h5 style="color: #a570a7;">Template 2 </h5>
                    <img class="rounded-xl template" src='/images/template2.png'>
                    <div class="py-2"></div>
                    <button class="btn main-create-btn" onclick="window.open('/template2');"
                        style="width: 200px; height: 50px;">Demo For More</button>
                </div>

                <!-- pic & demo btn for template 3 -->
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 py-3">
                    <div class="py-3"></div>
                    <h5 style="color: #a570a7;">Template 3 </h5>
                    <img class="rounded-xl template" src='/images/template3.png'>
                    <div class="py-2"></div>
                    <button class="btn main-create-btn" onclick="window.open('/template3');"
                        style="width: 200px; height: 50px;">Demo For More</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    ///////for close step1 modal
    function closeStep2Modal() {
        var modal = document.getElementById('step2Modal');
        var content = document.getElementById("content");
        var topbar = document.getElementById("topbar");
        modal.style.display = 'none';
        content.style.opacity = '';
        topbar.style.opacity = '';
    }
    ///////
</script>