<div class="container">
    <div class="py-5"></div>
    <div class="row text-center justify-content-center">
        <div class="col-sm-12">
            <h1 style='color: #a570a7'>📷 Capture Your Picture From Your WebCam 📷</h1>
        </div>

        <div class="col-sm-8 py-3">
            <br>
            <h5>💡 Tips for you to make a good profile: 💡</h5>
            <div style="text-align: left;">
                <br>
                1. Keep the smile on your face.
                <br>
                2. Dress professionally.
                <br>
                3. Ensure you have a tidy background (A white wall is always the best choice).
                <br>
                4. Ensure it is light enough to see your face clearly.
                <br>
                5. Ensure you are at the middle of the webcam.
            </div>
            <div class="py-2"></div>
        </div>

        <div id="content" class="col-sm-12">
            <!-- configure -->
            <button id="configureBtn" type="button" class="btn pink-btn" onclick="configure()"
                style="width:180px; height: 50px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175l3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z" />
                </svg><span class="ml-1">Open Webcam</span>
            </button>

            <!-- capture -->
            <button id="snapshotBtn" type="button" class="btn btn-danger" onclick="capture()"
                style="display: none; width:180px; height: 50px;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path
                        d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
                </svg><span class="ml-1">Snapshot</span>
            </button>

            <!-- download -->
            <a id='downloadBtn' type='button' class='ml-3 btn purple-btn'
                style='display: none; width:180px; height: 50px;' onclick='saveImg()' download='' href=''>
                <div style='padding: 0.2rem 0rem;'></div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                    <path
                        d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
                    <path
                        d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                </svg>
                Save Snapshot
            </a>

        </div>

        <!-- show webcam -->
        <div id="webcam" class="py-3 col-sm-12"></div>

        <!-- show snapshot -->
        <div id="snapshot" class="py-3 col-sm-12"></div>

    </div>
    <div class="py-3"></div>
</div>

<!-- open source js for capture pic from webcam -->
<script src="js/webcam.min.js"></script>

<script>
    // Attachment of the webcam
    function configure() {
        Webcam.set({
            width: 700,
            height: 400,
            image_format: 'jpeg',
            jpeg_quality: 100
        });
        Webcam.attach("#webcam");
        document.getElementById("snapshot").innerHTML = '';
        document.getElementById("configureBtn").style.display = "none";
        document.getElementById("downloadBtn").style.display = "none";
        //show webcam screen & snapshot btn
        document.getElementById("webcam").style.display = "";
        document.getElementById("snapshotBtn").style.display = "";
    }

    //capture snapshot
    function capture() {
        //show snapshot
        Webcam.snap(function (data_url) {
            document.getElementById("snapshot").innerHTML =
                "<img id='snapshotImg' src='" + data_url + "'/>";
        });
        document.getElementById("webcam").style.display = "none";
        document.getElementById("snapshotBtn").style.display = 'none';
        //show Re-capture & downloaded btn
        document.getElementById("configureBtn").innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">  <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/> <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/><span class="ml-1">Re-Capture</span></svg>';
        document.getElementById("configureBtn").style.display = '';
        document.getElementById("downloadBtn").style.display = '';
    }

    //save the snapshot
    function saveImg() {
        var image = document.getElementById("snapshotImg").src;
        document.getElementById("downloadBtn").href = image;
    }
</script>