<!-- <title>SB Admin 2 - Login</title>


<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">


<link href="css/sb-admin-2.min.css" rel="stylesheet"> -->



<!-- Navbar -->
<nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
  <div class="container px-4">

    <!-- Navbar items -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-4">
        <a class="nav-link nav-link-icon" href="">
          <!-- <i class="ni ni-circle-08"></i> -->
          <span class="nav-link-inner--text">Register</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-icon" href="../examples/login.html">
          <!-- <i class="ni ni-key-25"></i> -->
          <span class="nav-link-inner--text">Login</span>
        </a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<div class="header login-bg py-7 py-lg-8">
  <br><br><br><br>

  <!-- Welcome message -->
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <h1 class="text-white">Welcome To 3D CV System!</h1>
          <br>
          <p class="text-lead text-light">Let's start creating your own 3D CV using this system for free now.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Login card -->
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

              <!-- Left part of the card -->
              <div class="col-lg-6 d-none d-lg-block">
                <img src="/images/login_pic.svg" style="width: 100%; height: 100%;"/>
              </div>

              <!-- Right part of the card -->
              <div class="col-lg-6">
                <div class="p-5">
                  <!-- meesage -->
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                  </div>
                  <br>

                  <!-- login info -->
                  <form class="user">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                        aria-describedby="emailHelp" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control form-control-user" id="exampleInputPassword"
                        placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember
                          Me</label>
                      </div>
                    </div>
                    <br>
                    <button href="" class="btn login-btn btn-block">
                      Login
                    </button>
                    <!-- <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a> -->
                  </form>

                  <hr>
                  <!-- others -->
                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="/signup">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>