<div class="header signup-bg py-7 py-lg-8">
    <br><br><br><br>

    <!-- Thank you message -->
    <div class="container py-2">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <h5 class="text-lead text-light">You have sucessfully created your own account.
                    </h5>
                    <br>
                    <h1 class="text-white">Thank you for your registration!!</h1>
                </div>
            </div>
        </div>
    </div>


    <!-- Thank you picture -->
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <img src="/images/signup_success_pic.svg" style="width: 100%; height: 85%;" />
            </div>
        </div>
    </div>
</div>